@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

/* links and stuff */

.header, .footer {
    display: flex;
    justify-content: space-between;
}

.left-links {
    display: flex;
    gap: 20px;
    margin: 15px 0 0 15px;
}

.right-links {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-right: 15px;
}

/* middle */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75%;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px 15px;
}
  
  input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    padding-bottom: 10px;
}